{% extends 'accounts/main.html' %}

{% block content %}

<h1> Dashboard</h1>

<div> 
{% include 'accounts/status.html' %}
</div>
<div class=' row text-center justify-content-center mx-auto'>

    <div class='col-sm-12  col-lg-4  bg-light border '>
        <h3>Customers </h3>
        <hr >
        <button type="button" class="btn btn-primary w-100">Add Customer</button>
        <table class="table table-hover table-responsive">
            <thead>
              <tr>
                <tr>
                    <th scope="col">Customer ID</th>
                    <th scope="col">Customer</th>
                    <th scope="col">Order</th>
                  
                </tr>
              </tr>
            </thead>
            <tbody>
          
              <tr>
                
                <td ><a href='' >0</a></td>
                <td >Ali</td>
                <td >03341984422</td>
             </tr>
              
            </tbody>
          </table>

    </div>

    <div class= 'col-sm-12 col-lg-7  bg-light border'>
        <h3>Last 5 Orders</h3>
        <hr>
  
        <table class="table table-hover table-responsive ">
            <thead>
              <tr>
                <th scope="col">Product</th>
                <th scope="col">Date Ordered</th>
                <th scope="col">Status</th>
                <th scope="col">Update</th>
                <th scope="col">Remove</th>
              </tr>
            </thead>
            <tbody>
           
              <tr>
                <td >BBQ SAUCE</td>
                <td >22/4/2019</td>
                <td >Pending</td>
                <td><a class="btn btn-warning" href="" role="button">Update</a></td>
                <td><a class="btn btn-danger" href="" role="button">Delete</a></td>
             </tr>
             <tr>
              <td >BBQ SAUCE</td>
              <td >22/4/2019</td>
              <td >Pending</td>
              <td><a class="btn btn-warning" href="" role="button">Update</a></td>
              <td><a class="btn btn-danger" href="" role="button">Delete</a></td>
           </tr>
                
            </tbody>
          </table>

    </div>
</div>
{% endblock %}