
{% extends 'accounts/main.html' %}

{% block content %}
{% load static%}
<div class='container mx-auto'>

    <h1> Products</h1>
    <hr>
    {% for product in Products%}
    <div class='row border bg-light'>
        <div class='col-sm-10 col-md-4 col-lg-4  border p-0 m-0  mx-auto' >
            <img class=' productImage border m-0  w-100  p-0 bg-primary mx-auto' src = '{{product.image.url}}'>
        </div>
        <div class='col-sm-10 col-md-8 border w-100  '>
            <h3>{{product.name}}</h3>
            <p>{{product.desciption}}</p>
            <div class="card  " >
                <ul class="list-group list-group-flush">
                  <!-- PRICE -->
                    <li class="list-group-item ">                     
                        <div class='row'>
                            <div class="text-center col-4 ">
                                <b>Price</b>
                            </div>
                            <div class='col-auto '>
                                ${{product.price}}
                            </div>
                        </div>
                        
                    </li>
                    <!-- CATEGORY -->
                    <li class="list-group-item ">                      
                        <div class='row'>
                            <div class="text-center col-4 ">
                                <b>Category</b>
                            </div>
                            <div class='col-auto '>
                                {{product.category}}
                            </div>
                        </div>
                        
                    </li>
                    <!-- TAGS -->
                    <li class="list-group-item ">                  
                        <div class='row'>
                            <div class="text-center col-4 ">
                                <b>TAGS</b>
                            </div>
                            <div class='col-auto '>
                                {{product.tags}}
                            </div>
                        </div>
                        
                    </li>
                </ul>
              </div>
        </div>

    </div>
    {% endfor %}

    

</div>
{% endblock %}