
{% block content %}

<div class= 'row container mx-auto text-center mt-2 mb-4 d-flex justify-content-around text-white'>
    <div class= ' col-sm-12 col-md-4 col-lg-3' >
        <div class="card text-center " id='total-orders'>
            <div class="card-header bg-dark ">
              TOTAL ORDERS
            </div>
            <div class="card-body text-dark">
              <h5 class="card-title">Total Orders</h5>
              
            </div>
          </div>
    </div>

    <div class= 'col-sm-12 col-md-4 col-lg-3'>
        <div class="card text-center" id='orders-delivered'>
            <div  class="card-header bg-dark " >
              ORDERS DELIVERED
            </div>
            <div class="card-body text-dark">
              <h5 class="card-title"> Delivered</h5>
              
            </div>
          </div>
    </div>


    <div class= 'col-sm-12 col-md-4 col-lg-3'>
        <div class="card text-center" id='orders-pending'>
            <div class="card-header bg-dark ">
              ORDERS PENDING
            </div>
            <div class="card-body text-dark">
              <h5 class="card-title">9</h5>
              
            </div>
          </div>
    </div>
</div>

{% endblock %}